@model Model.Customer

@{
    ViewBag.Title = "Create Customer";
}
<div class="card border-dark">
    <div class="card-body">
        @Html.ActionLink("Back", "CustomerList", null, new { @class = "btn btn-danger mb-3", @style = "display:block;" })
        <h2>Create Customer</h2>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <br />
                <p class="text-danger">@ViewBag.Msg</p>
                <div class="form-group">
                    <div class="col">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>