@model Model.BoxSize

@{
    ViewBag.Title = "Edit Box Size";
}
<script type="text/javascript">
    function lbsConverter(valNum) {
        document.getElementById("outputGrams").value = valNum / 2.2046;
    }
    function kgConverter(valNum) {
        document.getElementById("outputPounds").value = valNum * 2.2046;
    }
</script>

<div class="card border-dark">
    <div class="card-body text-center">
        @Html.ActionLink("Back", "ManageBoxSizes", null, new { @class = "btn btn-danger mb-3", @style = "display:block;" })
        <h2>Edit Box Size</h2>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.BoxSizeID)
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.BoxName, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.BoxName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.BoxWeightLB, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.BoxWeightLB, new { htmlAttributes = new { @class = "form-control", id = "outputPounds", oninput = "lbsConverter(this.value)", onchange = "lbsConverter(this.value)" } })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.BoxWeightKG, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.BoxWeightKG, new { htmlAttributes = new { @class = "form-control", id = "outputGrams", oninput = "kgConverter(this.value)", onchange = "kgConverter(this.value)" } })
                    </div>
                </div>
                <br />
                <p class="text-danger">@ViewBag.Msg</p>
                <div class="form-group">
                    <div class="col">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>