@using Model

@{
    ViewBag.Title = "Frozen Inventory";
}

<div class="card border-dark">
    <div class="card-body">
        @Html.ActionLink("Back", "Inventory", new { searchString = ViewBag.SearchStr }, new { @class = "btn btn-danger mb-3", @style = "display:block;" })
        <h2 class="text-center">Frozen Inventory</h2>
        <br />
        <h2>Receiving Pallets</h2>
        @if ((int)ViewBag.ReceivingCount > 0)
        {
            <table class="table-light table table-striped">
                <tr>
                    <th>Pallet Number</th>
                    <th>Freezer ID</th>
                    <th>Lot Number</th>
                    <th>Date/Time</th>
                </tr>
                @foreach (ReceivingScale item in (List<ReceivingScale>)ViewBag.Receiving)
                {
                    <tr>
                        <td>@item.PalletNo</td>
                        <td>@item.FreezerID</td>
                        <td>@item.LotNo</td>
                        <td>@item.RecDateTime</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h3 class="text-center">There are no results!</h3>
        }
        <br />
        <h2>Production Pallets</h2>
        @if ((int)ViewBag.ProductionCount > 0)
        {
            <table class="table-light table table-striped">
                <tr>
                    <th>Pallet Number</th>
                    <th>Freezer ID</th>
                    <th>Lot Number</th>
                    <th>Date/Time</th>
                </tr>
                @foreach (Production item in (List<Production>)ViewBag.Production)
                {
                    <tr>
                        <td>@item.FullSkidNo</td>
                        <td>@item.FreezerID</td>
                        <td>@item.LotNo</td>
                        <td>@item.RecDateTime</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h3 class="text-center">There are no results!</h3>
        }
        <br />
        <h2>Cases</h2>
        @if ((int)ViewBag.CasesCount > 0)
        {
            <div style="height:60vh; overflow-y:scroll;">
                <table class="table-light table table-striped">
                    <tr>
                        <th>Serial Number</th>
                        <th>Lot Number</th>
                        <th>Fresh or Frozen?</th>
                        <th>Date/Time</th>
                    </tr>
                    @foreach (Production item in (List<Production>)ViewBag.Cases)
                    {
                        <tr>
                            <td>@item.SerialNo</td>
                            <td>@item.LotNo</td>
                            <td>@item.FreshOrFrozen</td>
                            <td>@item.RecDateTime</td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <h3 class="text-center">There are no results!</h3>
        }
    </div>
</div>